body{
    background-color: #d4cec7;
}
#login{
    text-align: center;
}
.frm-login{
   margin-top: 10%;
}
#btn-login{
    background-color: #009200;
    color: white;
}
#username{
    border: solid;
    width: 100%;
}
#user-online{background-color: red}
#chat{background-color: #009200}
#content-chat{margin-top: 30px}